In [24]:
import pandas as pd
import csv
import numpy as np
df = pd.read_csv("ratings.csv")
mf = pd.read_csv("movies.csv")
df.head(5)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [25]:
N = df.shape[0]
movies = mf.shape[0]
users = max(df['userId'])

In [26]:
m_idx = {}
for x in range(movies):
    m_idx[mf['movieId'][x]] = x + 1

m_list = {}
for x in range(movies):
    m_list[x + 1] = mf['title'][x]

In [27]:
def pearson_dist(p1, p2): # p1 and p2 are vectors
    
    p1 = np.array(p1)
    p2 = np.array(p2)
    
    n1 = np.count_nonzero(p1)
    n2 = np.count_nonzero(p1)
    
    if(n1*n2 == 0):
        return 0
    
    u1 = np.sum(p1)/n1 # the mean of p1 
    u2 = np.sum(p2)/n2 # the mean of p2
    
    cor = np.dot(p1 - u1, p2 - u2)
    std1 = np.dot(np.transpose(p1 - u1), p1 - u1)**(1/2)
    std2 = np.dot(np.transpose(p2 - u2), p2 - u2)**(1/2)
    
    if(std1*std2 == 0):
        return 0

    ans = cor/(std1*std2)
    
    return ans

In [28]:
def make_matrix(df):
    
    M = np.zeros((movies + 1, users + 1))
    
    for x in range(N):
        M[m_idx[df['movieId'][x]]][df['userId'][x]] = df['rating'][x]
    return M

M = make_matrix(df)

In [29]:
def make_sim_matrix(M):
    
    S = np.zeros((users + 1, users + 1))
    
    for x in range(1, users + 1):
        for y in range(1, users + 1):
            if(x - y != 0):
                S[x][y] = pearson_dist(M[:][x], M[:][y])

    return S

S = make_sim_matrix(M)

In [64]:
def fun(x):
    if(x > 0):
        return 0.000000001
    return 1

def user_movie_recommendation(ID):  # X is the users preferences 
    
    X = S[range(users)][ID] 
    Y = np.dot(M, X)
    B = Y
    for i in range(movies + 1):
        B[i] = fun(M[i][ID])
    Y = np.multiply(B, Y)
    A = Y.argsort()[-10:][::-1]

    rec_movies = []

    for x in A:
        rec_movies.append(m_list[x])

    for x in rec_movies:
        print(x, '\n')
        
    return

In [69]:

user_movie_recommendation(199)

Andrew Dice Clay: Dice Rules (1991)

Lean on Me (1989)

Jurassic Park III (2001)

Punisher, The (1989)

Pink Cadillac (1989)

Penn & Teller Get Killed (1989)

Package, The (1989)

No Holds Barred (1989)

Next of Kin (1989)

New York Stories (1989)